In [9]:
import torch
import numpy as np
import pandas as pd
import skimage
import matplotlib.pyplot as plt
import imp
import core
import utils
%matplotlib inline
wd = 'E:/new_data/kaggle/planet/'
train_set = pd.read_csv(wd + 'train_v2.csv')
train_set['tags'] = train_set['tags'].apply(lambda x: x.split(' '))
test_set = pd.read_csv(wd+'sample_submission_v2.csv')
train_tags = ['clear', 'partly_cloudy', 'haze', 'cloudy', 'primary', 'agriculture', 'road', 'water',
             'cultivation', 'habitation', 'bare_ground', 'selective_logging', 'artisinal_mine', 
              'blooming', 'slash_burn', 'conventional_mine', 'blow_down']
label_map = {l: i for i, l in enumerate(train_tags)}
inv_label_map = {i: l for l, i in label_map.items()}
file_all = train_set['image_name'].values
y_tr = utils.get_y(train_set['tags'].values, label_map)
test_file_all = test_set['image_name'].values

nnts = np.load('../preds/170620_01_pred_ts.npy')
nntr = np.load('../preds/170620_01_pred_tr.npy')

gbts = np.load('../preds/gbm_all_pred_ts_170624_01.npy')
gbtr = np.load('../preds/gbm_all_pred_tr_170624_01.npy')

wnnts = np.load('./pred/modelweightedNN1_date710_pred_test.npy')
wnntr = np.load('./pred/modelweightedNN1_date710_pred_train.npy')

In [10]:
nntr.shape, nnts.shape, gbtr.shape, gbts.shape, wnnts.shape, wnntr.shape, y_tr.shape

((40479, 17),
 (61191, 17),
 (40479, 17),
 (61191, 17),
 (61191, 17),
 (40479, 17),
 (40479, 17))

In [44]:
def f2_score(y_true, y_prob, th):
    y_pred = np.zeros_like(y_prob, dtype = np.int8)
    y_pred = (y_prob > th)
    score = fbeta_score(y_true, y_pred, beta = 2)
    return score

# 找到最优th
def best_f2_score(y_true, y_pred, thresholds = np.arange(0, 1, 0.01)):
    x = 0
    best_score = 0
    for t in thresholds:
        score = f2_score(y_true, y_pred, t)
        if score > best_score:
            best_score = score
            x = t
    return x

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import fbeta_score
from sklearn.model_selection import StratifiedKFold

y_ts = np.zeros((gbts.shape[0], 17))
p_tr = np.zeros((gbtr.shape[0], 17))

for i_c in range(17):
    skf = StratifiedKFold(n_splits=5)
    x_tr = np.c_[nntr[:, i_c], gbtr[:, i_c], wnntr[:, i_c]]
    x_ts = np.c_[nnts[:, i_c], gbts[:, i_c], wnnts[:, i_c]]
    k_now = 0
    for i_tr, i_vl in skf.split(x_tr, y_tr[:, i_c]):
        lr = LogisticRegression(class_weight='balanced')
        lr.fit(x_tr[i_tr, :], y_tr[i_tr, i_c])
        p_tr[i_vl, i_c] = lr.predict_proba(x_tr[i_vl, :])[:,1]

    lr = LogisticRegression(class_weight='balanced')
    lr.fit(x_tr, y_tr[:, i_c])
    y_ts[:, i_c] = lr.predict_proba(x_ts)[:, 1]

In [12]:
th1 = utils.f2_opti_score(y_tr, p_tr, thresholds = np.arange(0, 1, 0.01))
th2 = utils.f2_opti_score(y_tr, p_tr, thresholds = np.arange(1, 0, -0.01))
th = (th1 + th2) / 2.0
utils.f2_score(y_tr, p_tr, th, num_classes=17)

0.92225287406242773

In [14]:
submit_df = utils.to_submit(y_ts, th, test_set, inv_label_map)
submit_df.to_csv('./submit/3model_stacking_date711_no1.csv', index=False)

In [73]:
y_ts[:, :4].argmax(axis=1)[:20]

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 2, 1, 0, 3, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [76]:
submit_df = pu.to_submit_new(y_ts, th, mt.test_set)
submit_df.to_csv('./submit/170625_01.csv', index=False)

In [77]:
y_tr

array([[0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]], dtype=uint8)

In [99]:
yy = y_tr.copy()
def class2num(x):
    result = np.zeros(x.shape[0])
    for i in range(x.shape[0]):
        result[i] = (2 ** np.where(x[i, :] == 1)[0]).sum()
    return result
nums = class2num(yy)

In [116]:
import pandas as pd
%matplotlib inline
ddff = pd.DataFrame({'index': np.arange(nums.size), 'nums': nums})
ddff

       index     nums
0          0     20.0
1          1    177.0
2          2     17.0
3          3     17.0
4          4    625.0
5          5    148.0
6          6    433.0
7          7     20.0
8          8    305.0
9          9    369.0
10        10  16561.0
11        11    145.0
12        12      8.0
13        13     17.0
14        14      8.0
15        15     17.0
16        16     17.0
17        17     18.0
18        18     17.0
19        19    113.0
20        20    177.0
21        21    209.0
22        22     18.0
23        23    113.0
24        24  32786.0
25        25     17.0
26        26      8.0
27        27    178.0
28        28     17.0
29        29     18.0
...      ...      ...
40449  40449    145.0
40450  40450    370.0
40451  40451     17.0
40452  40452     17.0
40453  40453   4113.0
40454  40454     17.0
40455  40455  32882.0
40456  40456     17.0
40457  40457   2257.0
40458  40458    113.0
40459  40459    145.0
40460  40460     17.0
40461  40461      8.0
40462  40462     17.0
40463  40463     52.0
40464  40464    114.0
40465  40465  65553.0
40466  40466     17.0
40467  40467    113.0
40468  40468     49.0
40469  40469    148.0
40470  40470    593.0
40471  40471     17.0
40472  40472     49.0
40473  40473    625.0
40474  40474     17.0
40475  40475      8.0
40476  40476     49.0
40477  40477    113.0
40478  40478    306.0

[40479 rows x 2 columns]

In [120]:
count_ddff = ddff.groupby('nums').count()
count_ddff.loc[count_ddff['index']> 10, :]

         index
nums
8.0       2089
17.0     13636
18.0      3630
20.0      1471
33.0        46
34.0        15
49.0      1626
50.0       692
52.0       172
81.0       235
82.0       102
84.0        41
97.0        69
113.0     1680
114.0      527
116.0      130
129.0      262
130.0       24
145.0     1850
146.0      595
148.0      314
161.0       27
162.0       17
177.0      712
178.0      196
180.0      103
209.0      504
210.0      112
212.0       55
225.0       14
...        ...
1137.0      30
1169.0      58
1233.0      13
1297.0      12
1329.0      16
1601.0      11
1617.0      21
1649.0      31
2065.0     105
2129.0      89
2193.0      16
2257.0      15
2353.0      19
4113.0      15
4241.0     141
4242.0      15
4305.0      44
5265.0      11
8209.0     248
8210.0      13
8337.0      13
8497.0      14
16433.0     21
16497.0     12
16657.0     32
16689.0     33
32785.0     11
32786.0     12
65553.0     55
65585.0     11

[121 rows x 1 columns]